/* Theme Inforge NET Work in progress
*/
body {
  background-color: #2E3133;
}

#content .pageContent {
 background-color: #5c6a70;
 border: 1px solid #526066;
}

.breadcrumb {
    background-color: #c3d6de;
    border: 1px solid #9fb0b7;
}

.breadcrumb .crust .arrow {
    border-right: 1px none #9fb0b7;
}

.breadcrumb .crust a.crumb {
    background-color: #c3d6de;
}

input#QuickSearchQuery {
    background: #303233 none repeat scroll 0% 0%;
    border-color: #505152;
    color: rgb(255,255,255);
    border-radius: 2px;
}

.secondaryContent {
    background-color: #4a4a4a;
    padding: 8px;
}

.pairs dt, .pairsInline dt, .pairsRows dt, .pairsColumns dt, .pairsJustified dt {
    color: #c7c7c7;
}

.messageList .message {
    margin: 16px auto;
    background-color: #5d5d5d;
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
}

.sectionMain {
    background-color: #bdb9b9;
    padding: 8px;
    margin: 16px auto;
    border: 1px solid #bdb9b9;
    border-radius: 4px;
}

.primaryContent {
    background-color: #f5f5f5;
    padding: 8px;
}

.messageText {
    font-size: 10.5pt;
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    color: #d0d0d0;
    line-height: 1.7;
}

.LikeText a {
    color: #0e0e0e !important;
}

#permissionCheck
#stopper{
        background: linear-gradient(to bottom, rgba(95, 93, 93, 0) 0%,rgb(92, 106, 112) 100%);
}

#permissionCheck {
    width: 100%;
    color: #ded7d7;
    overflow: hidden;
}

#permissionCheck .ok {
    color: #222f22;
}

.bbCodeQuote .attribution {
    color: rgb(52,77,93);
    background-color: #9a9a9a;
    background-repeat: repeat-x;
    background-position: top;
    border-bottom: 1px solid #c3bdbd;
    border-left: 2px solid #9a9a9a;
}

.bbCodeQuote .quoteContainer {
    background-color: #9a9a9a;
    background-repeat: repeat-x;
    background-position: top;
    padding: 8px;
    border-left: 2px solid rgb(70, 102, 124);
}

.Menu {
    font-size: 13px;
    border: 1px solid #433f3f;
    border-top: 2px solid rgb(73, 147, 197); }
